<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="flex-shrink-0">
              <div class="relative">
                <img
                  class="h-16 w-16 lg:h-24 lg:w-24 rounded-full border border-white/10"
                  src="/images/avatar.jpg"
                  alt="image"
                />
                <span
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"></span>
              </div>
            </div>

            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-lime-300">
                Shen Nan, Wong
              </h1>
              <p class="text-sm font-light text-neutral-500">
                Software Engineer in Singapore
              </p>
              <p>
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white"
                  href="#">byshennan.com</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="mt-24 text-sm font-light">
          <p class="text-black dark:text-lime-300">About</p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              For the past 10 years, I have been a hands-on and adaptable
              problem solver, collaborating and building with start-ups,
              government agencies, fintech, and consulting with firms.
            </p>
            <p>
              I specialize in DevSecOps and cloud infrastructure, but also have
              extensive experience with full-stack development. I am a strong
              believer in the developer experience and have been a strong
              advocate for it.
            </p>
            <p>
              I am skilled in leading software projects and have the ability to
              manage, mentor, and hire software engineers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
